<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="nopcommerce regression suite">
	<parameter name="browser" value="ie"></parameter>
	<test name="Regression Test" preserve-order="true">
		<classes>
			<class name="tests.AddProductReviewTest" />
			<class name="tests.AddProductToCompareListTest" />
			<class name="tests.AddProductToShoppingCartTest" />
			<class name="tests.AddProductToWishListTest" />
			<class name="tests.ChangeCurrencyTest" />
			<class name="tests.ContactUsTest" />
			<class name="tests.EmailFriendTest" />
			<class name="tests.GuestCanCheckoutProductFromCart" />
			<class name="tests.MyAccountTest" />
			<class name="tests.ProductHoverMenuTest" />
			<class name="tests.RegisterdUserCheckoutProduct" />
			<class name="tests.SearchProductTest" />
			<class name="tests.SearchProductUsingAutoSuggest" />
			<class name="tests.UserRegistrationTest" />
		</classes>
	</test>
</suite> 
